body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: #222;
	stroke-width: 1.5px;
	shape-rendering: geometricPrecision;
}

circle {
	fill: steelblue;
	stroke: steelblue;
	stroke-width: 4px;
}

.marker {
	fill: #ccc;
	stroke: #ccc;
	stroke-width: 2px;
}
}


