body {
	font-family: sans-serif;
    font-size: 11px ;
}

canvas {
    border: solid 1px #777;
}

svg {
    display: inline;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axisLabel {
	font-size: 11px;
	fill: #111;
}

.line {
	fill: none;
	stroke: #222;
	stroke-width: 1px;
	shape-rendering: geometricPrecision;
}

.table {
    display: table;
    text-align: center;
}

.tableRow {
    display: table-row;
}

.tableCell,
.tableHead {
    display: table-cell;
    border: solid 1px #777
}

.tableHead {
    font-weight: bold;
}


.tableCell p,
.tableHead p { 
    margin: 0;
    padding: 0.5em 0.5em;
}

circle {
	fill: steelblue;
	stroke: steelblue;
	stroke-width: 4px;
}

.marker {
	fill: #ccc;
	stroke: #ccc;
	stroke-width: 2px;
}

#keys,
#uploader {
    display: inline;
    margin: 10px;

}
#dataPreview{
    width: 400px;
    max-height: 400px;
    overflow: auto;
    border: solid 1px #DDD;
    
}
#plot3d,
#upload {
    float: left;
    margin: 30px;
}

#plot3d {
    position: relative;
}

#axes3d  {
    background-color: rgb(0,0,0,0); /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

#axes3d canvas {
    border: none;
}
