body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axisLabel {
	font-size: 11px;
	fill: #111;
}

.line {
	fill: none;
	stroke: #222;
	stroke-width: 1px;
	shape-rendering: geometricPrecision;
}

circle {
	fill: steelblue;
	stroke: steelblue;
	stroke-width: 4px;
}

.marker {
	fill: #ccc;
	stroke: #ccc;
	stroke-width: 2px;
}

canvas {
    border: solid 1px #777;
}



